Django==1.8.2
facepy==1.0.8
httplib2==0.9.1
oauth2client==1.4.12
oauthlib==1.1.2
Pillow==4.1.1
python-social-auth==0.2.19
python3-openid==3.0.10
uritemplate==0.6
w3lib==1.12.0
requests-oauthlib==0.6.1
