<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
        rel="stylesheet" type="text/css">
        <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
        rel="stylesheet" type="text/css">
    </head>
    
    <body>
        <div class="cover">
            <div class="cover-image" style="background-image : url('https://unsplash.imgix.net/photo-1421986527537-888d998adb74?fm=jpg&amp;s=e633562a1da53293c4dc391fd41ce41d')"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <h1 class="text-primary">
                            <i class="fa fa-fw fa-arrow-circle-right"></i>QuotePost</h1>
                        <a class="btn btn-lg btn-primary" href = "/logout_user"><font face="FontAwesome"><span style="font-size: 36px; line-height: 36px;">Logout</span></font><i class="fa fa-2x fa-facebook-square fa-fw"></i></a>
                        <br>
                        <br>
                    </div>
                    <div class="col-md-6">
                        <form role="form" action = "/fetch_save_post" >
                            <div class="form-group">
                                <label class="control-label" for="exampleInputEmail1">Enter Quote</label>
                                <textarea class="form-control" id="exampleInputEmail1"
                                placeholder="Quote" type="email" name ="quote"
								rows="5" cols="25" value = '{{ quote }}'>
								
								</textarea>
                            </div>
							<button type="submit" class="btn btn-info" name = "fetch" >Fetch Quote</button>
                            <button type="submit" class="btn btn-info" name = "save" >Save</button>
                            <button type="submit" class="btn btn-info" name = "post" >Post to Facebook</button>
                        </form>
						
					</div>
					<hr>
						<p>	{{message}} </p>
				<hr>
                </div>
				
            </div>
        </div>
    </body>

</html>